$clr-primary: #ffffff;
$clr-secondary: #FF70D9;
$clr-tertiary: #EBFF00;
$clr-quaternary: #000000;

$clr-body-bg-primary: #0D1E48;
$clr-body-bg-secondary: #304571;

$bg-image-hero-sm: '../assets/images/hero-bg-sm.jpg';
$bg-image-hero-md: '../assets/images/hero-bg-md.jpg';
$bg-image-hero-xl: '../assets/images/hero-bg-xl.jpg';

$content-max-width: 1140px;